/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(46, 212, 16, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
          * {
    padding: 0;
    margin: 0;
  }
  
  main {
     
    background-color: #eee;
    height: 100vh;
    padding: 10px;
  }
  
  .timer-block {
    max-width: 960px;
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.238);
    padding: 23px 26px;
    margin: 0 auto 10px auto;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1 )
  }
  
  .timer-block .text {
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: 900;
    color: #333;
    margin-bottom: 10px;
  }
  
  .timer-block .timer-line {
    height: 5px;
    background-color: #1d1717;
    position: relative;
    overflow: hidden;
  }
  
  .timer-block .timer-line > span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #42b883;
    transition: 1s linear;
  }
  
  .timer-block .timer-numbers {
    position: absolute;
    top: 23px;
    right: 26px;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
  }